# Ignorer node_modules
node_modules/

# Ignorer les fichiers de logs
*.log
npm-debug.log*

# Ignorer les fichiers environnement
.env

# Ignorer les fichiers de compilation
dist/
build/

# Ignorer les fichiers spécifiques aux OS
.DS_Store
Thumbs.db

# Ignorer les fichiers des éditeurs de code
.vscode/
.idea/
